.navigation
{
	border-bottom: 1px solid #ddd;
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height:44px;
}

.navigation > li {
    float: left;
    margin-bottom: -1px;
}

.navigation > li {
    position: relative;
    display: block;
}

.navigation > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    border: 1px solid #FFF; 
	background-color: rgba(255,255,255,0.2);
}
.nav-pills>li>a:hover
{
	background-color: transparent;
